/**
 *   _____
 *  /     \
 * |  o o  |
 * |   >   |
 * |  \_/  |
 *  \_____/
 *
 * @sekoyaTech
 * @author SekoyaDigital
 */

@import "../variables.css";

#footer_section
{
    background: var(--color-text-primary); /* Background color for the footer section */
}

.text_nav_footer
{
    font-size: 12px; /* Font size for the footer navigation text */
    color: #DDDDDD; /* Text color for the footer navigation */
}

@media screen and (max-width: 830px)
{
    #ladyfooter
    {
        display: none; /* Hide the ladyfooter element on smaller screens */
    }
}
